{% extends "noodle/base.html" %}

{% block title %} - 5日以内の商品一覧   {% endblock %}

{% block css %}
<style>
.delete-button{
    color: white;
    background-color: red
}

.warning-noodle{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.noodle-button{
    display: flex;
    gap: 10px;
}



</style>
{% endblock %}



{% block content %}
<h2>賞味期限が5日以内の商品一覧</h2>
<hr>

{% if warning_items %}
    <ul>
        {% for item in warning_items %}
            <span>-----</span>
            <li class="warning-noodle">
                <div>
                    <span>賞味期限:{{item.expiry_date}}</span>
                </div>
                <div>
                    <span>商品名:{{item.name}}</span>
                </div>
                <div>
                    <span>(期限切れまで、あと{{item.remaining_days}}日)</span>
                </div>
                <div class="noodle-button">
                    [<a href="{{url_for('noodle.edit',id=item.id)}}">編集</a>]
                    <form action="{{url_for('noodle.delete',id=item.id)}}" method="post" style="display: inline;">
                        <button class="delete-button" type="submit" onclick="return confirmDelete();">削除</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <P>期限が近い商品はありません。</P>
{% endif %}
{% endblock %}
{% block script %}
<script>
    function confirmDelete(){
        return confirm("本当に削除しますか？");
    }
</script>
{% endblock %}